.yellow{
    background: #FFCA42;
    ;
  }

.red{
    background-color: #FF3358;
}

.blue{
    background-color: #99C6F8;
}

.white{
    background-color: white;
}

.ready__button{
    font-size: 12px;
    padding: 1px 3px 1px 3px;
    color:white;
    border-radius: 5px;
    background: #7BD36D;
    float:right
}

.running__button{
    font-size: 12px;
    padding: 1px 3px 1px 3px;
    background-color:#FFCA42;
    border-radius: 5px;
    float:right
}